.todo-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); 
  margin-right: 10px; 
}

.submit-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: white;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #45a049; 
}

.todo-input-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  margin: 0 auto; 
  margin-bottom: 20px; 
}
